version: '2'

services:
    jekyll_prod:
        build: ./
        volumes:
            - .:/data
        command: rake deploy

    jekyll_dev:
        build: ./
        volumes:
            - .:/data
        ports:
            - 4000
        command: npm run grunt
