---
layout: default
published_at: 2016-07-28
autocompletejs:
    short_version: 2.1
    version: 2.1.4
    size: 8
---

<a href="https://github.com/autocompletejs/autocomplete.js" itemprop="downloadUrl" target="_blank">
    <img class="fork-me" src="/images/fork-me-right.png" height="149" width="149">
</a>

<div itemscope itemtype="http://schema.org/SoftwareApplication">
    <div>
        <nav class="navbar navbar-default" id="menu" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="menu-content">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Version <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="/">v2</a>
                                </li>
                                <li>
                                    <a href="/1.html">v1 <i>legacy</i></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#installation">Installation</a>
                        </li>
                        <li>
                            <a href="#declaration">Declaration</a>
                        </li>
                        <li>
                            <a href="#documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="#contributed">Contributed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h1 class="center" itemprop="name">autocomplete.js</h1>

    <p class="center">
        autocomplete.js is a fast and lightweight autocomplete library, without any dependencies.
    </p>

    <div class="center">   
        <img src="/images/dependencies-none-brightgreen.png" height="20" width="126"/>
        <img src="/images/Javascript-Strict-Mode-brightgreen.png" height="20" width="141"/>
        <img src="/images/JSHint-0-error-brightgreen.png" height="20" width="95"/>
        <img src="/images/license-mit.png" height="20" width="80"/>

        <hr/>
    </div>

    <div class="clearfix"></div>
</div>

<div class="points">
    <div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding-left">
            <div class="jumbotron point">
                <h3>Lite</h3>
                <p>
                    {{ page.autocompletejs.size }} KB<br/>
                    <i class="fa fa-thumbs-up"></i>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="jumbotron point">
                <h3>Fast</h3>
                <p>
                    Native JavaScript<br/>
                    <i class="fa fa-bolt"></i>
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="jumbotron point">
                <h3>Remote Power</h3>
                <p>
                    No data pre-loaded.<br/>
                    Only AJAX.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding-right">
            <div class="jumbotron point">
                <h3>Hackable</h3>
                <p>
                    Functions overridable<br/>
                    <i class="fa fa-unlock-alt"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="points">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jumbotron point">
                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-control" data-autocomplete="//api.autocomplete-js.com" placeholder="Try autocomplete search in country list" data-autocomplete-no-result="Nope nope ! Try again !" style="font-size: 20px; height: 60px;"/ type="text">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="points">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="jumbotron point" style="height: 170px; line-height: 170px; padding: 0;">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6" style="height: 75px;">
                        <a href="http://www.typescriptlang.org/" target="_blank">
                            <img src="/images/typescript.png" style="max-width: 200px; padding-top: 13px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="installation">
            <div class="jumbotron point" style="height: 170px; line-height: 170px; padding: 0;">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right" role="group" aria-label="installation-methods">
                            <button type="button" class="btn btn-primary" id="installation-npm">
                                <img src="/images/icon/npm.png">
                            </button>

                            <button type="button" class="btn btn-default" id="installation-bower">
                                <img src="/images/icon/bower.png">
                            </button>

                            <button type="button" class="btn btn-default" id="installation-scratch">
                                <i class="fa fa-github-alt"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div data-id="installation-npm">
                            <pre style="line-height:1.5; text-align: left;"><code class="bash"># Install autocomplete-js
$ npm install autocomplete-js@{{ page.autocompletejs.short_version }}.* --save</code></pre>
                            <pre style="line-height:1.5; text-align: left;"><code class="javascript">// In your file
var AutoComplete = require("autocomplete-js");
AutoComplete();
</code></pre>
                        </div>

                        <div data-id="installation-bower" class="hide">
                            <pre style="line-height:1.5; text-align: left;"><code class="bash"># Install
$ bower install autocomplete.js#{{ page.autocompletejs.short_version }}.* --save
</code></pre>
                        </div>

                        <div data-id="installation-scratch" class="hide">
                            <p>
                                Download the last stable version <a href="https://github.com/autocompletejs/autocomplete.js/archive/v{{ page.autocompletejs.version }}.zip"><i class="fa fa-cloud-download"></i></a> <a href="https://github.com/autocompletejs/autocomplete.js/tree/v{{ page.autocompletejs.version }}" target="_blank"><i class="fa fa-github"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="declaration">
    <hr>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Client integration</h2>

        <pre><code class="html">&lt;input data-autocomplete="example.php" /&gt;

&lt;script type="text/javascript"&gt;
    AutoComplete();
&lt;/script&gt;

&lt;!-- OR --&gt;

&lt;input id="autocomplete-example" /&gt;

&lt;script type="text/javascript"&gt;
    AutoComplete({
        EmptyMessage: "No item found",
    }, "#autocomplete-example");
&lt;/script&gt;</code></pre>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Server response</h2>
        
        <pre><code class="json">// JSON array
[
    "France",
    "United States",
    "Germany"
]

// OR JSON object
{
    "FR": "France",
    "USA": "United States",
    "DE": "Germany"
}
</code></pre>
    </div>
</div>

<div style="text-align: center;">
    <!-- Documentation Top -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-5600852277504389"
        data-ad-slot="8309154358"></ins>
</div>

<div id="documentation">
    <hr/>
    <h2>Documentation</h2>

    <h3>Value arguments</h3>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Definition</th>
                <th>Snippets</th>
            </tr>
        </thead>

        <tbody>
            {% for item in site.data.v2_documentation_args %}
            <tr>
                <td>
                    <a href="#{{ item.name }}" id="{{ item.name }}">
                        {{ item.name }}
                    </a>
                </td>

                <td>
                    {{ item.description }}
                </td>

                <td>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#{{ item.name }}_default" aria-controls="{{ item.name }}_default" role="tab" data-toggle="tab">
                                    Default
                                </a>
                            </li>

                            <li>
                                <a href="#{{ item.name }}_js" aria-controls="{{ item.name }}_js" role="tab" data-toggle="tab">JS</a>
                            </li>

                            {% if item.snippet.html %}
                            <li>
                                <a href="#{{ item.name }}_html" aria-controls="{{ item.name }}_html" role="tab" data-toggle="tab">HTML</a>
                            </li>
                            {% endif %}
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="{{ item.name }}_default">
                                {% if item.snippet.default %}
                                    {% if item.snippet.default.type == "plain" %}
                                    <pre><code class="plain">{{ item.snippet.default.value }}</code></pre>
                                    {% else %}
                                    <pre><code class="{{ item.snippet.default.type }}">{{ item.snippet.default.value }}</code></pre>
                                    {% endif %}
                                {% else %}
                                <pre><code class="raw">No default value</code></pre>
                                {% endif %}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="{{ item.name }}_js">
                                <pre><code class="javascript">{{ item.snippet.js }}</code></pre>
                            </div>

                            {% if item.snippet.html %}
                            <div role="tabpanel" class="tab-pane" id="{{ item.name }}_html">
                                <pre><code class="html">{{ item.snippet.html }}</code></pre>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/>
    <h3>Method arguments</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Method</th>
                <th>Definition</th>
                <th>Snippets</th>
            </tr>
        </thead>

        <tbody>
            {% for item in site.data.v2_documentation_methods %}
            <tr>
                <td>
                    <a href="#{{ item.name }}" id="{{ item.name }}">
                        {{ item.name }}
                    </a>
                </td>

                <td>
                    {{ item.description }}
                </td>

                <td>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#{{ item.name }}_prototype" aria-controls="{{ item.name }}_prototype" role="tab" data-toggle="tab">
                                    Prototype
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/autocompletejs/autocomplete.js/blob/v{{ page.autocompletejs.version }}/src/autocomplete.ts#{{ item.snippet.source }}" target="_blank">
                                    Source
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="{{ item.name }}_prototype">
                                <pre><code class="javascript">{{ item.snippet.prototype }}</code></pre>

                                {{ item.snippet.definition }}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <hr/>
    <div class="clearfix"></div>
</div>

<div class="points" id="contributed">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
        <div class="jumbotron point">
            <h3>Contributed <i class="fa fa-bug"></i></h3>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>
                    A bug ? <a href="https://github.com/autocompletejs/autocomplete.js/issues" target="_blank">Open an issue on GitHub</a>
                </p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="credit">
    <p class="center">Created, developed, designed proposed by <a href="https://me.baptiste-donaux.fr" target="_blank">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Baptiste Donaux</span>
        </span></a>
        <br/>
        <a href="https://twitter.com/baptistedonaux" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/baptistedonaux" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://plus.google.com/+BaptisteDonaux" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="http://stackoverflow.com/users/2182996/baptiste-donaux" target="_blank"><i class="fa fa-stack-overflow"></i></a>
        <a href="maito:support@autocomplete-js.com"><i class="fa fa-envelope"></i></a>
    </p>
</div>

<link rel="stylesheet" type="text/css" href="/css/main.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
