<head>
    <!-- meta -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0, min-scale=1.0, max-scale=1.0">

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    <meta name="description" content="autocomplete.js is a fast and lightweight autocomplete library, without any dependencies." />
    <meta name="google" content="translate" />
    <meta name="google-site-verification" content="PWkFjmwCmfDaBrGL5J-vmxE8re17ha_fko-klxXqqts" />

    <meta property="og:description" content="autocomplete.js is a fast and lightweight autocomplete library, without any dependencies." />
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content="autocomplete.js" />
    <meta property="og:title" content="autocomplete.js | Remote AutoComplete" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://autocomplete-js.com/" />
    <meta property="twitter:description" content="autocomplete.js is a fast and lightweight autocomplete library, without any dependencies." />
    
    <meta itemprop="applicationCategory" content="JavaScript Library">
    <meta itemprop="datePublished" content="{{ page.published_at }}">
    <meta itemprop="downloadUrl" content="https://github.com/autocompletejs/autocomplete.js/archive/v{{ page.autocompletejs.version }}.zip">
    <meta itemprop="image" content="http://autocomplete-js.com/autocomplete-js.png">
    <meta itemprop="operatingSystem" content="Depend on the browser">
    <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Baptiste Donaux">
    </span>
    <meta itemprop="requirements" content="ECMAScript Edition 5">
    <meta itemprop="softwareVersion" content="{{ page.autocompletejs.short_version }}">
    <meta itemprop="url" content="http://autocomplete-js.com">

    <link rel="author" href="https://plus.google.com/+BaptisteDonaux"/>
    <link rel="canonical" href="http://autocomplete-js.com/" />
    <link rel="publisher" href="https://plus.google.com/+BaptisteDonaux"/>
    <!-- end meta -->
    
    <title>autocomplete.js | Remote AutoComplete Lite, Fast and Stable | v{{ page.autocompletejs.short_version }}</title>
</head>
